
#canvas{
    border:1px solid #000000;
    height: 100%;
    width: 100%;
}

.tool{
    width: 110px;
}

.tool_pic
{
    margin-left:auto !important;
    margin-right:auto !important;
    margin: 15px;
    display: block;
}

.color{
    text-align: center !important;
}

.change_brush{
    font-size: 200%;
    width: 120px;
    font-weight: normal;
    text-align:center;
    line-height:50px !important;
}


#brush_10{
    color: red;
    font-weight: bold;
}

#brush_title{
    font-size: 100%;
    font-weight: bold;
}

#header{
    height: 80px;
    text-align:center;
    line-height:80px;
}
#sidebar_left{
    width:120px;
    height:400px;
    text-align:center;
    line-height:30px;
    float:left;
    }
    #sidebar_right{
    width:120px;
    height:400px;
    line-height:30px;
    float:right;
    }
    #content{
    margin-left:120px;
    margin-right:120px;
    height:400px;
    background-color:white;
    text-align:center;
    line-height:400px;
    }
    #footer{
    clear:both;
    height:80px;
    text-align:center;
    line-height:80px;
    }